name: Generate API

permissions:
  contents: write

on:
  schedule:
    # this cron string runs at 00:00, only on Monday
    - cron: 0 0 * * 1
  workflow_dispatch:

jobs:
  generate:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    concurrency:
      group: generate-${{ github.head_ref }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: true
          token: ${{ secrets.BOT_TOKEN }}
          path: gen_api/
      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "10.0.x"
      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            gen_api/target/
          key: ${{ runner.os }}-cargo-clippy-${{ hashFiles('**/Cargo.toml') }}
      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@stable
      - uses: extractions/setup-just@v2
      - name: Install Beamable CLI
        working-directory: gen_api
        run: |
          just setup
      - name: Generate API
        working-directory: gen_api
        run: |
          just download
      - name: Update OpenAPI from script
        working-directory: gen_api
        run: just update
      - name: Generate code
        working-directory: gen_api
        run: just generate
      # - name: Apply clippy fixes and formatting
      #   working-directory: gen_api
      #   run: just fix
      - name: Test build
        working-directory: gen_api
        run: just validate
      - name: Check for Changes
        run: |
          lines=$(git status --porcelain | grep -v 'README.md' | wc -l)
          if [ "$lines" -eq 0 ]; then
              echo "::set-output name=any::false"
          else
              echo "::set-output name=any::true"
          fi
        id: changes
      - name: Create Pull Request
        if: ${{ steps.changes.outputs.any == 'true' }}
        env:
          GH_TOKEN: ${{ secrets.BOT_TOKEN }}
        run: |
          git config user.email "piotr@beamable.com"
          git config user.name "Piotr"
          branch="update-openapi-$(date +%s)"
          git checkout -b $branch
          git add .
          git commit -m "syncing sdk from openapi"
          git push origin $branch
          gh pr create --title "Auto generate SDK from openAPI" --body "The CLI autogenerated these changes to the SDK" --head $branch --base main
